@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #115f35,#19b944);
}

main{
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 20px;
    box-shadow: 10px 10px 10px #083d0c8f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color:#083D0C;
text-align: center;
text-shadow: 1px 1px 2px #083d0c8e;
}

h2{
color:#19b944;
}

p {
    text-align: justify;
    color: black;

}